<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoInstaller.appSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <AutoInstaller.appSettings>
            <setting name="rememberPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exePath" serializeAs="String">
                <value />
            </setting>
            <setting name="dirPath" serializeAs="String">
                <value />
            </setting>
        </AutoInstaller.appSettings>
    </userSettings>
</configuration>
